@media screen  and (min-width:120px) and (max-width:900px){
    
*
{
    margin: 0;
    padding: 0;
}
.container
{
    margin-left: 0px;
    height: 1500px;

}
.clock img{
    position: relative;
    top:20px;
left: 10px;
width: 150px;
height: 77px;
opacity: 1;
}



.box1
{position: relative;
 
   left: 70px;
top: 85px;
    width: 220px;
    height: 50px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
}
.box2
{
   position: relative;
top: 20px;
left:50px;
  

width: 270px;
height: 50px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.71;
}
.box3
{
   position: relative;
   
  bottom: 75px;
    left: 10px;
    width: 350px;
    height: 80px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}
.t{
    margin-top: 30px;
    margin-left: 5px;
    color: #3D087B;
    font-size: 30px
    }
    .lp1
    {
        position: absolute;
        bottom:03vw;
        left: 23%;
    width: 40px;
    }
    #dot1
{
    font-size: 50px;
    color:#8A11BF;
    position: absolute;
    left: 34%;
    bottom: 1vw;
   
}
    .lp2
    {
        position: absolute;
        bottom:03vw;
        left: 39%;
    width: 40px;
    }
    #dot2
{
    font-size: 50px;
    color:#8A11BF;
    position: absolute;
    left: 50%;
    bottom:1vw;
}
    .lp3
    {
        position: absolute;
        bottom:03vw;
        left: 54%;
    width: 40px;
    }

    .pink
{
    position: absolute;
    width: 40px;
left: 70%;
bottom: 3vw;
}


#hour
{

    font-size: 30px;
    color:#8A11BF;
    position: relative;
    left: 24%;
    bottom: 7vw;
}
#min
{font-size: 30px;
    color: #8A11BF;
    position:relative ;
    left: 30%;
    bottom: 7vw;
}
#sec
{font-size: 30px;
    color: #8A11BF;
    position:relative ;
    left: 35.5%;
    bottom: 7vw;
}
#ampm
{
    font-size: 20px;
    color: #d0c9d3;
    position:relative ;
    left: 42%;
    bottom: 7.4vw;
}

.container2
{
    position: relative;
    bottom: 30px;

left: 5px;
width: 29%;
height: 300px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 5px solid #EDEDED;
border-radius: 10px;
opacity: 1;

display: flex;
flex-direction: column;
}

.line1 img {
    height: 30px;
    width: 40px;
  position: relative;
bottom: 10px;
  left: 12px;
   
}
.line1 p{
    color: #3D087B;
    width: 141px;
height: 23px;
font-size: 20px;
position: relative;
left: 10%;
bottom: 7px;
}
.line1 select{
    width: 40%;
height: 35px;

border-radius: 20px;
border: none;
box-shadow: 10px 10px 10px rgb(224, 218, 218);

position: relative;
left: 10%;
bottom: 20px;
}
.line2 img {
    height: 30px;
    width: 40px;
   position: relative;
   bottom: 35px;
   right: 10px;
}
.line2 p{
    color: #3D087B;
    width: 141px;
height: 23px;
margin-top: 5px;
font-size: 20px;
margin-left: 20px;

}
.line2 select{
    width: 40%;
height: 35px;

margin-top: 3px;
border: none;
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(216, 214, 214);
position: absolute;
left: 57%;
}
.line3 img {
    height: 30px;
    width: 40px;
    margin-left: 20px;
    margin-top: -5px;
}
.line3 p{
    color: #3D087B;
    width: 141px;
height: 23px;
font-size: 20px;
margin-left: 35px;
}
.line3 select{
    width: 40%;
height: 35px;
position: absolute;
left: 57%;
margin-top: -1px;
border: none;
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(216, 214, 214);
}
.line4 p{
    color: #3D087B;
    width: 141px;
height: 23px;
font-size: 20px;
margin-left: 26px;
position: relative;
top: 20px;
}
.line4 select{
    width: 40%;
height: 35px;
position: absolute;
left: 57%;
margin-top: 10px;
border: none;
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(216, 214, 214);
}
.container3
{
    position: absolute;
 left: 1%;
 bottom: 22vw;
width: 370px;
height: 100px;

opacity: 1;


}
.container4
{
    position: relative;
    left: 1%;
    width: 370px;
 bottom: 650px;
}

button{
    
position: relative;
bottom: 930px;
left: 15%;
width: 220px;

}
.detail
{
    height: 100px;
    width: 360px;
position: relative;
left: 2%;
bottom: 920px;
color: #eed5f8;

}


#container7
{
    position: relative;
bottom: 800px;
 left: 2%;

}


}