.container
{
    background-color:#3D087B;
    height: 700px;
    width: 1300px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 20px;

}
.clock img{
    position: relative;
    top: 34px;
left: 124px;
width: 204px;
height: 77px;
opacity: 1;
}
.box1
{position: relative;
 
   left: 800px;
top: 50px;
    width: 349px;
    height: 100px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.22;
}
.box2
{
   position: relative;
bottom: 60px;
left:780px;
  

width: 400px;
height: 100px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.71;
}
.box3
{
   position: relative;
   bottom: 170px;
    left: 706px;
    width: 500px;
    height: 100px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-ededed);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}
.t{
    margin-top: 30px;
    margin-left: 30px;
    color: #3D087B;
    font-size: 30px
    }
.lp1
{
    position: absolute;
    bottom:0.5vw;
    left: 110px;
width: 70px;
}
.lp2
{
    position: absolute;
    bottom:0.5vw;
    left: 195px;
    width: 70px;
}
.lp3
{
    position: absolute;
   bottom:0.5vw;
    left: 285px;
    width: 70px;
}
.pink
{
    position: absolute;
    width: 70px;
left: 375px;
bottom: 0.7vw;
}
#hour
{

    font-size: 40px;
    color:#8A11BF;
    position: relative;
    left: 24%;
    bottom: 4vw;
}
#min
{font-size: 40px;
    color: #8A11BF;
    position:relative ;
    left: 32%;
    bottom: 4vw;
}
#sec
{font-size: 40px;
    color: #8A11BF;
    position:relative ;
    left: 42%;
    bottom: 4vw;
}
#ampm
{
    font-size: 30px;
    color: #d0c9d3;
    position:relative ;
    left: 50%;
    bottom: 4.3vw;
}
#dot1
{
    font-size: 50px;
    color:#8A11BF;
    position: absolute;
    left: 36%;
    bottom: 0.7vw;
   
}
#dot2
{
    font-size: 50px;
    color:#8A11BF;
    position: absolute;
    left: 53%;
    bottom: 0.7vw;
}
.container2
{
    position: absolute;
 bottom: 35%;
left: 15%;
width: 35%;
height: 19vw;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 5px solid #EDEDED;
border-radius: 10px;
opacity: 1;

display: flex;
flex-direction: column;
}
.line1
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.line1 img {
    height: 30px;
    width: 40px;
  position: absolute;
  bottom: 16vw;
  left: 5%;
   
}
.line1 p{
    color: #3D087B;
    width: 141px;
height: 23px;
font-size: 20px;
position: absolute;
left: 20%;
bottom: 15vw;
}
.line1 select{
    width: 40%;
height: 35px;

margin-top: 10px;

border-radius: 20px;
border: none;
box-shadow: 10px 10px 10px rgb(216, 214, 214);

position: absolute;
left: 55%;
bottom: 15.5vw;
}
.line1 select option{
    text-align: center;
    font-size:10px;
}
.stick1
{font-size: 30px;
    color: gainsboro;
    position: absolute;
    top: 15%;
    left: 8.3%;
}


.line2
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.line2 img {
    height: 30px;
    width: 40px;
    margin-left: 29px;
    margin-top: 30px;
}
.line2 p{
    color: #3D087B;
    width: 141px;
height: 23px;
margin-top: 40px;
font-size: 20px;
margin-left: 38px;
}
.line2 select{
    width: 40%;
height: 35px;

margin-top: 40px;
border: none;
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(216, 214, 214);
position: absolute;
left: 55%;
}
.line2 select option{
    text-align: center;
    font-size:10px;
}
.stick2
{
    font-size: 30px;
    color: gainsboro;
    position: absolute;
    top: 35%;
    left: 8.3%;
}
.line3
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.line3 img {
    height: 30px;
    width: 40px;
    margin-left: 30px;
    margin-top: 5px;
}
.line3 p{
    color: #3D087B;
    width: 141px;
height: 23px;
font-size: 20px;
margin-left: 35px;
}
.line3 select{
    width: 40%;
height: 35px;
position: absolute;
left: 55%;
margin-top: 10px;
border: none;
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(216, 214, 214);
}
.line3 select option{
    text-align: center;
    font-size:10px;
}
.stick3
{
    font-size: 30px;
    color: gainsboro;
    position: absolute;
    top: 63%;
    left: 8.3%;
}
.line4
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.line4 img {
    height: 30px;
    width: 40px;
    margin-left: 30px;
    margin-top: 15px;
}
.line4 p{
    color: #3D087B;
    width: 141px;
height: 23px;
font-size: 20px;
margin-left: 30px;
}
.line4 select{
    width: 40%;
height: 35px;
position: absolute;
left: 55%;
margin-top: 10px;
border: none;
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(216, 214, 214);
}
.line4 select option{
    text-align: center;
    font-size:10px;
}
.container3
{
    position: absolute;
 left: 55%;
 bottom: 22vw;
width: 470px;
height: 6vw;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-ededed);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
animation: text1 10s linear 0s infinite ;

}
@keyframes text1 {
    0%{
         background-color: rgb(227, 238, 229);
     }
     50%{
         background-color: rgb(73, 245, 105);
     }
     75%{
         background-color: rgb(245, 129, 233);
     }
     100%{
         background-color: rgb(110, 159, 245);
     }
 }
.container3 b{
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    letter-spacing: 0px;
    color: #8E53F0;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    position: relative;
    top: 20px;

}

.container4
{

 position: absolute;

 
left: 15%;
bottom: 11vw;
width: 36%;
height: 77px;

border: 1px solid var(--unnamed-color-ededed);
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #ecdcdc 0% 0% no-repeat padding-box;
border: 1px solid #ededed;
border-radius: 10px;
animation: text2 10s linear 0s infinite ;

}
@keyframes text2 {
    0%{
         background-color: rgb(179, 163, 95);
     }
     50%{
         background-color: rgb(232, 146, 167);
     }
     75%{
         background-color: rgb(245, 129, 233);
     }
     100%{
         background-color: rgb(110, 159, 245);
     }
 }
.container4 b{
position: relative;
left: 30px;
color: #FFFFFF;

top: 20px;
z-index:3 ;
font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    letter-spacing: 0px;
    color: #8450e4;
    text-transform: uppercase;
   text-align: center;

}
button{
    
    background-image: linear-gradient(
    to right,#6E54EC,#F1A7C5  
    );
    width: 16%;
    height: 3vw;
    padding: 20px;
    
    color: white;
    font-size: 22px;
    border-radius: 10px;
  display: inline-block; 
  border: none;
position: absolute;
bottom: 7vw;
left: 15%;

}
button:hover{
    cursor:pointer
}
button #set1{
    display:none;
    
   
    
}
button:hover #set{
    display:none;
    
}
button:hover #set1{
    display: inline-block;
    
   
}
button >span{
    position: relative;
    bottom:10px ;
}

.detail
{
width: 250px;
height: 8vw;
position: absolute;
background-color:#7c5f86;
color: #f82cf8;

left: 35%;
bottom: 2vw;
border-radius: 10px;
margin-top: 10px;

padding-bottom: 10px;
padding-left: 10px;
}

#container7
{
    position: absolute;
bottom: 1vw;
 left: 55%;
 width: 470px;
 height: 301px;
background-color: #f1ecec;
border-radius:10px ;
}
#container7 img{
 width: 470px;
 height: 301px;
 border-radius: 20px;
}


